body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 100px;
    margin-right:30px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #EAE2B7;
    color: #2b2839;
    border-bottom: 6px solid #003049;
    border-radius: 10px;
    box-shadow: 10px 6px 6px #F77F00;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

/* Efecto de hovering sobre la tarjeta para que cambie de color*/
.card:hover{
    background: #FCBF49;
    box-shadow: 10px 6px 6px #003049;
}


.rotate {
  width: 150px;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s) ok
- add border radius ok 
- shuffle the layout ok
- shadows        🤯 ok 
- hover effects  🤯🤯ok 
- animations     🤯🤯🤯 ok 
*/

